footer{
  padding: 40px 10px;
  background-color:rgb(8, 2, 59);
  color:white;
  margin-top: 1px;
  text-align: center;
}





@media screen and (min-width: $breakpoint-m){

  
}

@media screen and (min-width: $breakpoint-l){

  
}

@media screen and (min-width: $breakpoint-xl){

  
}
@media screen and (min-width: $breakpoint-xxl){

  
}
