.list{
    text-align: left;
    list-style-type: none;
    padding: 0; 
}
.list-rules{


    display: flex;
justify-content: flex-start;
align-items: center;
   .rules-number{
       margin: 10px 0 ;
       border-radius: 50%;
       height: 94px;
       flex-shrink: 0;
       width: 94px;
       background-color: #fff;
       display: flex;
       justify-content: center;
       align-items: center;
       color: #000;
    font-size: 35px;
    line-height: 49px;
    font-style: normal;
    font-weight: 700;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.22);
   }
 .rules-description{
     font-size: 21px;
    padding-left: 20px;
 }
}



@media screen and (min-width: $breakpoint-m){

  
}

@media screen and (min-width: $breakpoint-l){

  
}

@media screen and (min-width: $breakpoint-xl){

  
}
@media screen and (min-width: $breakpoint-xxl){

  
}
